.preloader {
    visibility: visible;
    opacity: 1;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $bodyBg;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 600;

    transition: all 0.2s linear 0s;
    &.closed {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes ldio-3u7fgqgw6tm {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}
.ldio-3u7fgqgw6tm div {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-3u7fgqgw6tm 0.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-3u7fgqgw6tm div:nth-child(1) {
    border-color: #d5621d;
    animation-delay: 0s;
}
.ldio-3u7fgqgw6tm div:nth-child(2) {
    border-color: #d5621d;
    animation-delay: -0.5s;
}
.loadingio-spinner-ripple-8mjebz46m44 {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #210e09;
}
.ldio-3u7fgqgw6tm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-3u7fgqgw6tm div {
    box-sizing: content-box;
}
