<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <h3 class="footer__title section-title" data-aos="fade-up">контакты</h3>
            <div class="footer__body">
                <dl class="footer__info" data-aos="fade-right">

                    <dt class="footer__item-title">Адрес</dt>
                    <dd class="footer__item-text">Набережная реки Фонтанки, 90 (вход в арке с белыми колоннами)</dd>


                    <dt class="footer__item-title">телефон</dt>
                    <dd><a class="footer__item-phone" href="tel:+79157330615">+7 (915) 733-0615</a></dd>


                    <dt class="footer__item-title">режим работы</dt>
                    <dd class="footer__item-text">Ежедневно с 12:00 до 06:00</dd>


                    <dt class="footer__item-title">директор</dt>
                    <dd class="footer__item-text">Сергей Иванов, 
                        <a class="footer__item-phone" href="tel:+79157330615">+7 (915) 733-0615</a>
                    </dd>


                    <dt class="footer__item-title">арт-директор</dt>
                    <dd class="footer__item-text">Иванов Сергей, 
                        <a class="footer__item-phone" href="tel:+79157330615">+7 (915) 733-0615</a>
                    </dd>

                </dl>
                <div class="footer__map" data-aos="fade-left">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.4239223343002!2d30.327511616477615!3d59.92510759359359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631aa5ba832d7%3A0xb07e09646a283529!2z0JzQsNC90YXRjdGC0YLQtdC9!5e0!3m2!1sru!2sge!4v1681761451850!5m2!1sru!2sge"
                        width="856" height="656" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>


            <div class="footer__down-block">
                <p class="footer__copy">Copyright © 2022. Все права защищены.</p>
                <p class="footer__designer">Разработано d-e-n.ru</p>
            </div>
        </div>
    </div>
</footer>