<header class="header lock-padding">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="index.html">
                <img class="header__logo-img" src="assets/img/header/logo.svg" alt="logo">
            </a>
            <div class="header__block">
                <nav class="header__menu">
                    <ul class="header__menu-list">
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="index.html">Главная</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="poster.html">Афиша</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="coorp.html">Корпоративы</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" href="gallery.html">Галерея</a>
                        </li>
                    </ul>
                </nav>
                <button class="header__btn global-btn" type="button">бронирование</button>
            </div>
            <button class="header__burger-btn">
                <span></span>
            </button>
        </div>
    </div>
</header>