<div class="reservation lock-padding">
    <div class="container">
        <div class="reservation__inner">
            <h3 class="reservation__title section-title">бронирование столов</h3>
            <button class="reservation__close"></button>
            <form class="reservation__form" action="/" method="get">
                <label class="visually-hidden" for="name-modal">Имя контакта</label>
                <input class="reservation__form-input" id="name-modal" type="text" placeholder="Имя контакта">
                <label class="visually-hidden" for="phone-modal">Телефон</label>
                <input class="reservation__form-input reservation__form-input--phone" id="phone-modal" type="tel" placeholder="Телефон">
                <label class="visually-hidden" for="date-modal">Дата</label>
                <input class="reservation__form-input" id="date-modal" type="date" name="Date">
                <button class="reservation__form-btn global-btn">забронировать стол</button>
            </form>
        </div>
    </div>
</div>